@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-style: normal;
  display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima';
  src: url('../../fonts/ProximaNova-Bold.woff') format('woff2'),
    url('../../fonts/proxima-bold.woff') format('woff'),
    url('../../fonts/proxima-bold.ttf') format('truetype');
  font-style: normal;
  display: swap;
  font-weight: 700;
}
